body {
  max-height: 100vh;
}

.container {
  max-height: 100vh;
}

.card-img-top {
  padding: 2em;
}

.card-body {
  padding: 2em;
}

#myVideo2 {
  position: fixed;
  z-index: -2;
  right: 0px;
  bottom: 0px;
  min-width: 100%;
  min-height: 100%;
}

.card {
  max-width: 500px; 
  max-height: 650px;
  margin-top: 20%;
  margin-bottom: 10%;
}